<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmars.search.mapper.ItemMapper" >
	<select id="getWMSItemList" resultType="com.lmars.search.pojo.SearchItem">
		SELECT
			id,
			wmsId serviceId,
			title mapTitle,
			abstracts mapDesc,
			name mapName,
			images
		FROM
			tb_wms_layers
		WHERE id &lt; 10000
	</select>
	
	<select id="getMapServiceItemList" resultType="com.lmars.search.pojo.SearchItem">
		SELECT
			id,
			mapserviceId serviceId,
			layerName mapTitle,
			description mapDesc,
			<!--  layerId mapName, --> 
			images
		FROM
			tb_mapservice_layers
		WHERE
			id &gt; 2000000 AND id &lt; 2010000
	</select>
</mapper>
