<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmars.mapper.TbMapserviceMapper" >
  <resultMap id="BaseResultMap" type="com.lmars.pojo.TbMapservice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="MapServiceURL" property="mapserviceurl" jdbcType="VARCHAR" />
    <result column="currentVersion" property="currentversion" jdbcType="VARCHAR" />
    <result column="MapName" property="mapname" jdbcType="VARCHAR" />
    <result column="singleFusedMapCache" property="singlefusedmapcache" jdbcType="VARCHAR" />
    <result column="initialExtend" property="initialextend" jdbcType="VARCHAR" />
    <result column="fullExtend" property="fullextend" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lmars.pojo.TbMapserviceWithBLOBs" extends="BaseResultMap" >
    <result column="serviceDescription" property="servicedescription" jdbcType="LONGVARCHAR" />
    <result column="copyrightText" property="copyrighttext" jdbcType="LONGVARCHAR" />
    <result column="layers" property="layers" jdbcType="LONGVARCHAR" />
    <result column="documentInfo" property="documentinfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, MapServiceURL, currentVersion, MapName, singleFusedMapCache, initialExtend, fullExtend
  </sql>
  <sql id="Blob_Column_List" >
    serviceDescription, copyrightText, layers, documentInfo
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.lmars.pojo.TbMapserviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_mapservice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lmars.pojo.TbMapserviceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mapservice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_mapservice
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_mapservice
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lmars.pojo.TbMapserviceExample" >
    delete from tb_mapservice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lmars.pojo.TbMapserviceWithBLOBs" >
    insert into tb_mapservice (id, MapServiceURL, currentVersion, 
      MapName, singleFusedMapCache, initialExtend, 
      fullExtend, serviceDescription, copyrightText, 
      layers, documentInfo)
    values (#{id,jdbcType=BIGINT}, #{mapserviceurl,jdbcType=VARCHAR}, #{currentversion,jdbcType=VARCHAR}, 
      #{mapname,jdbcType=VARCHAR}, #{singlefusedmapcache,jdbcType=VARCHAR}, #{initialextend,jdbcType=VARCHAR}, 
      #{fullextend,jdbcType=VARCHAR}, #{servicedescription,jdbcType=LONGVARCHAR}, #{copyrighttext,jdbcType=LONGVARCHAR}, 
      #{layers,jdbcType=LONGVARCHAR}, #{documentinfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lmars.pojo.TbMapserviceWithBLOBs" >
    insert into tb_mapservice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mapserviceurl != null" >
        MapServiceURL,
      </if>
      <if test="currentversion != null" >
        currentVersion,
      </if>
      <if test="mapname != null" >
        MapName,
      </if>
      <if test="singlefusedmapcache != null" >
        singleFusedMapCache,
      </if>
      <if test="initialextend != null" >
        initialExtend,
      </if>
      <if test="fullextend != null" >
        fullExtend,
      </if>
      <if test="servicedescription != null" >
        serviceDescription,
      </if>
      <if test="copyrighttext != null" >
        copyrightText,
      </if>
      <if test="layers != null" >
        layers,
      </if>
      <if test="documentinfo != null" >
        documentInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mapserviceurl != null" >
        #{mapserviceurl,jdbcType=VARCHAR},
      </if>
      <if test="currentversion != null" >
        #{currentversion,jdbcType=VARCHAR},
      </if>
      <if test="mapname != null" >
        #{mapname,jdbcType=VARCHAR},
      </if>
      <if test="singlefusedmapcache != null" >
        #{singlefusedmapcache,jdbcType=VARCHAR},
      </if>
      <if test="initialextend != null" >
        #{initialextend,jdbcType=VARCHAR},
      </if>
      <if test="fullextend != null" >
        #{fullextend,jdbcType=VARCHAR},
      </if>
      <if test="servicedescription != null" >
        #{servicedescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="copyrighttext != null" >
        #{copyrighttext,jdbcType=LONGVARCHAR},
      </if>
      <if test="layers != null" >
        #{layers,jdbcType=LONGVARCHAR},
      </if>
      <if test="documentinfo != null" >
        #{documentinfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lmars.pojo.TbMapserviceExample" resultType="java.lang.Integer" >
    select count(*) from tb_mapservice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_mapservice
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mapserviceurl != null" >
        MapServiceURL = #{record.mapserviceurl,jdbcType=VARCHAR},
      </if>
      <if test="record.currentversion != null" >
        currentVersion = #{record.currentversion,jdbcType=VARCHAR},
      </if>
      <if test="record.mapname != null" >
        MapName = #{record.mapname,jdbcType=VARCHAR},
      </if>
      <if test="record.singlefusedmapcache != null" >
        singleFusedMapCache = #{record.singlefusedmapcache,jdbcType=VARCHAR},
      </if>
      <if test="record.initialextend != null" >
        initialExtend = #{record.initialextend,jdbcType=VARCHAR},
      </if>
      <if test="record.fullextend != null" >
        fullExtend = #{record.fullextend,jdbcType=VARCHAR},
      </if>
      <if test="record.servicedescription != null" >
        serviceDescription = #{record.servicedescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.copyrighttext != null" >
        copyrightText = #{record.copyrighttext,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.layers != null" >
        layers = #{record.layers,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.documentinfo != null" >
        documentInfo = #{record.documentinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_mapservice
    set id = #{record.id,jdbcType=BIGINT},
      MapServiceURL = #{record.mapserviceurl,jdbcType=VARCHAR},
      currentVersion = #{record.currentversion,jdbcType=VARCHAR},
      MapName = #{record.mapname,jdbcType=VARCHAR},
      singleFusedMapCache = #{record.singlefusedmapcache,jdbcType=VARCHAR},
      initialExtend = #{record.initialextend,jdbcType=VARCHAR},
      fullExtend = #{record.fullextend,jdbcType=VARCHAR},
      serviceDescription = #{record.servicedescription,jdbcType=LONGVARCHAR},
      copyrightText = #{record.copyrighttext,jdbcType=LONGVARCHAR},
      layers = #{record.layers,jdbcType=LONGVARCHAR},
      documentInfo = #{record.documentinfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_mapservice
    set id = #{record.id,jdbcType=BIGINT},
      MapServiceURL = #{record.mapserviceurl,jdbcType=VARCHAR},
      currentVersion = #{record.currentversion,jdbcType=VARCHAR},
      MapName = #{record.mapname,jdbcType=VARCHAR},
      singleFusedMapCache = #{record.singlefusedmapcache,jdbcType=VARCHAR},
      initialExtend = #{record.initialextend,jdbcType=VARCHAR},
      fullExtend = #{record.fullextend,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmars.pojo.TbMapserviceWithBLOBs" >
    update tb_mapservice
    <set >
      <if test="mapserviceurl != null" >
        MapServiceURL = #{mapserviceurl,jdbcType=VARCHAR},
      </if>
      <if test="currentversion != null" >
        currentVersion = #{currentversion,jdbcType=VARCHAR},
      </if>
      <if test="mapname != null" >
        MapName = #{mapname,jdbcType=VARCHAR},
      </if>
      <if test="singlefusedmapcache != null" >
        singleFusedMapCache = #{singlefusedmapcache,jdbcType=VARCHAR},
      </if>
      <if test="initialextend != null" >
        initialExtend = #{initialextend,jdbcType=VARCHAR},
      </if>
      <if test="fullextend != null" >
        fullExtend = #{fullextend,jdbcType=VARCHAR},
      </if>
      <if test="servicedescription != null" >
        serviceDescription = #{servicedescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="copyrighttext != null" >
        copyrightText = #{copyrighttext,jdbcType=LONGVARCHAR},
      </if>
      <if test="layers != null" >
        layers = #{layers,jdbcType=LONGVARCHAR},
      </if>
      <if test="documentinfo != null" >
        documentInfo = #{documentinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lmars.pojo.TbMapserviceWithBLOBs" >
    update tb_mapservice
    set MapServiceURL = #{mapserviceurl,jdbcType=VARCHAR},
      currentVersion = #{currentversion,jdbcType=VARCHAR},
      MapName = #{mapname,jdbcType=VARCHAR},
      singleFusedMapCache = #{singlefusedmapcache,jdbcType=VARCHAR},
      initialExtend = #{initialextend,jdbcType=VARCHAR},
      fullExtend = #{fullextend,jdbcType=VARCHAR},
      serviceDescription = #{servicedescription,jdbcType=LONGVARCHAR},
      copyrightText = #{copyrighttext,jdbcType=LONGVARCHAR},
      layers = #{layers,jdbcType=LONGVARCHAR},
      documentInfo = #{documentinfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmars.pojo.TbMapservice" >
    update tb_mapservice
    set MapServiceURL = #{mapserviceurl,jdbcType=VARCHAR},
      currentVersion = #{currentversion,jdbcType=VARCHAR},
      MapName = #{mapname,jdbcType=VARCHAR},
      singleFusedMapCache = #{singlefusedmapcache,jdbcType=VARCHAR},
      initialExtend = #{initialextend,jdbcType=VARCHAR},
      fullExtend = #{fullextend,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>