<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmars.mapper.TbWmsLayersMapper" >
  <resultMap id="BaseResultMap" type="com.lmars.pojo.TbWmsLayers" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="wmsId" property="wmsid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="currentId" property="currentid" jdbcType="INTEGER" />
    <result column="parentId" property="parentid" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="BoundingBox" property="boundingbox" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lmars.pojo.TbWmsLayers" extends="BaseResultMap" >
    <result column="abstracts" property="abstracts" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, wmsId, title, name, url, currentId, parentId, images, BoundingBox
  </sql>
  <sql id="Blob_Column_List" >
    abstracts
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.lmars.pojo.TbWmsLayersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_wms_layers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lmars.pojo.TbWmsLayersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_wms_layers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_wms_layers
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_wms_layers
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lmars.pojo.TbWmsLayersExample" >
    delete from tb_wms_layers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lmars.pojo.TbWmsLayers" >
    insert into tb_wms_layers (id, wmsId, title, 
      name, url, currentId, 
      parentId, images, BoundingBox, 
      abstracts)
    values (#{id,jdbcType=BIGINT}, #{wmsid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{currentid,jdbcType=INTEGER}, 
      #{parentid,jdbcType=INTEGER}, #{images,jdbcType=VARCHAR}, #{boundingbox,jdbcType=VARCHAR}, 
      #{abstracts,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lmars.pojo.TbWmsLayers" >
    insert into tb_wms_layers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wmsid != null" >
        wmsId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="currentid != null" >
        currentId,
      </if>
      <if test="parentid != null" >
        parentId,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="boundingbox != null" >
        BoundingBox,
      </if>
      <if test="abstracts != null" >
        abstracts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="wmsid != null" >
        #{wmsid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="currentid != null" >
        #{currentid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="boundingbox != null" >
        #{boundingbox,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        #{abstracts,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lmars.pojo.TbWmsLayersExample" resultType="java.lang.Integer" >
    select count(*) from tb_wms_layers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_wms_layers
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.wmsid != null" >
        wmsId = #{record.wmsid,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.currentid != null" >
        currentId = #{record.currentid,jdbcType=INTEGER},
      </if>
      <if test="record.parentid != null" >
        parentId = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.images != null" >
        images = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.boundingbox != null" >
        BoundingBox = #{record.boundingbox,jdbcType=VARCHAR},
      </if>
      <if test="record.abstracts != null" >
        abstracts = #{record.abstracts,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_wms_layers
    set id = #{record.id,jdbcType=BIGINT},
      wmsId = #{record.wmsid,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      currentId = #{record.currentid,jdbcType=INTEGER},
      parentId = #{record.parentid,jdbcType=INTEGER},
      images = #{record.images,jdbcType=VARCHAR},
      BoundingBox = #{record.boundingbox,jdbcType=VARCHAR},
      abstracts = #{record.abstracts,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_wms_layers
    set id = #{record.id,jdbcType=BIGINT},
      wmsId = #{record.wmsid,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      currentId = #{record.currentid,jdbcType=INTEGER},
      parentId = #{record.parentid,jdbcType=INTEGER},
      images = #{record.images,jdbcType=VARCHAR},
      BoundingBox = #{record.boundingbox,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmars.pojo.TbWmsLayers" >
    update tb_wms_layers
    <set >
      <if test="wmsid != null" >
        wmsId = #{wmsid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="currentid != null" >
        currentId = #{currentid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="boundingbox != null" >
        BoundingBox = #{boundingbox,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        abstracts = #{abstracts,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lmars.pojo.TbWmsLayers" >
    update tb_wms_layers
    set wmsId = #{wmsid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      currentId = #{currentid,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR},
      BoundingBox = #{boundingbox,jdbcType=VARCHAR},
      abstracts = #{abstracts,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmars.pojo.TbWmsLayers" >
    update tb_wms_layers
    set wmsId = #{wmsid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      currentId = #{currentid,jdbcType=INTEGER},
      parentId = #{parentid,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR},
      BoundingBox = #{boundingbox,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>