<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lmars.mapper.TbWmsMapper" >
  <resultMap id="BaseResultMap" type="com.lmars.pojo.TbWms" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sid" property="sid" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.lmars.pojo.TbWmsWithBLOBs" extends="BaseResultMap" >
    <result column="abstracts" property="abstracts" jdbcType="LONGVARCHAR" />
    <result column="keywords" property="keywords" jdbcType="LONGVARCHAR" />
    <result column="Fees" property="fees" jdbcType="LONGVARCHAR" />
    <result column="Access" property="access" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sid, url, title, version
  </sql>
  <sql id="Blob_Column_List" >
    abstracts, keywords, Fees, Access
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.lmars.pojo.TbWmsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_wms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lmars.pojo.TbWmsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_wms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_wms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_wms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lmars.pojo.TbWmsExample" >
    delete from tb_wms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lmars.pojo.TbWmsWithBLOBs" >
    insert into tb_wms (id, sid, url, title, 
      version, abstracts, keywords, 
      Fees, Access)
    values (#{id,jdbcType=BIGINT}, #{sid,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{abstracts,jdbcType=LONGVARCHAR}, #{keywords,jdbcType=LONGVARCHAR}, 
      #{fees,jdbcType=LONGVARCHAR}, #{access,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lmars.pojo.TbWmsWithBLOBs" >
    insert into tb_wms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sid != null" >
        sid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="abstracts != null" >
        abstracts,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="fees != null" >
        Fees,
      </if>
      <if test="access != null" >
        Access,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sid != null" >
        #{sid,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        #{abstracts,jdbcType=LONGVARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=LONGVARCHAR},
      </if>
      <if test="fees != null" >
        #{fees,jdbcType=LONGVARCHAR},
      </if>
      <if test="access != null" >
        #{access,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lmars.pojo.TbWmsExample" resultType="java.lang.Integer" >
    select count(*) from tb_wms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_wms
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=BIGINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.abstracts != null" >
        abstracts = #{record.abstracts,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.fees != null" >
        Fees = #{record.fees,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.access != null" >
        Access = #{record.access,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_wms
    set id = #{record.id,jdbcType=BIGINT},
      sid = #{record.sid,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      abstracts = #{record.abstracts,jdbcType=LONGVARCHAR},
      keywords = #{record.keywords,jdbcType=LONGVARCHAR},
      Fees = #{record.fees,jdbcType=LONGVARCHAR},
      Access = #{record.access,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_wms
    set id = #{record.id,jdbcType=BIGINT},
      sid = #{record.sid,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmars.pojo.TbWmsWithBLOBs" >
    update tb_wms
    <set >
      <if test="sid != null" >
        sid = #{sid,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="abstracts != null" >
        abstracts = #{abstracts,jdbcType=LONGVARCHAR},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=LONGVARCHAR},
      </if>
      <if test="fees != null" >
        Fees = #{fees,jdbcType=LONGVARCHAR},
      </if>
      <if test="access != null" >
        Access = #{access,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lmars.pojo.TbWmsWithBLOBs" >
    update tb_wms
    set sid = #{sid,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      abstracts = #{abstracts,jdbcType=LONGVARCHAR},
      keywords = #{keywords,jdbcType=LONGVARCHAR},
      Fees = #{fees,jdbcType=LONGVARCHAR},
      Access = #{access,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmars.pojo.TbWms" >
    update tb_wms
    set sid = #{sid,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>